{% extends "home/base.html" %} {% load static %}
<!-- Other Content Start -->
{% block content %}
<section class="cart section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box-element">
          <a
            href="{% url 'department-electronics' %}"
            class="btn btn-outline-dark"
            >&#x2190; Continue Shopping</a
          >
          <br />
          <br />
          <table class="table">
            <tr>
              <th>
                <h5>Items: <strong>3</strong></h5>
              </th>
              <th>
                <h5>Total: <strong>$43</strong></h5>
              </th>
              <th>
                <a
                  href="{% url 'cart-checkout' %}"
                  class="btn btn-success"
                  style="float: right; margin: 5px"
                  >Checkout</a
                >
              </th>
            </tr>
          </table>
        </div>
        <br />
        <div class="box-element">
          <div class="cart-row">
            <div style="flex: 2"></div>
            <div style="flex: 2"><strong>Item</strong></div>
            <div style="flex: 1"><strong>Price</strong></div>
            <div style="flex: 1"><strong>Quantity</strong></div>
            <div style="flex: 1"><strong>Total</strong></div>
          </div>
          <div class="cart-row">
            <div style="flex: 2">
              <img
                src="{% static 'departments/images/size.jpg' %}"
                alt="product-image"
                class="row-image"
              />
            </div>
            <div style="flex: 2">Product 1</div>
            <div style="flex: 1">$20</div>
            <div style="flex: 1">
              <p class="quantity">2</p>
              <div class="quantity">
                <img
                  src="{% static 'cart/images/arrow-up.png' %}"
                  alt="arrow up"
                  class="chg-quantity"
                />
                <img
                  src="{% static 'cart/images/arrow-down.png' %}"
                  alt="arrow down"
                  class="chg-quantity"
                />
              </div>
            </div>
            <div style="flex: 1">$40</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
<!-- Other Content Ends -->
