{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- !Links Start -->
    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="{% static 'home/styles/owl.carousel.min.css' %}"
    />
    <!-- Font Awsome Icons -->
    <link rel="stylesheet" href="{% static 'home/styles/font-awesome.css' %}" />
    <!-- Bootstarp CSS -->
    <link
      rel="stylesheet"
      href="{% static 'home/styles/bootstrap.min.css' %}"
    />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'home/styles/base.css' %}" />
    <!-- !Links End -->
  </head>
  <body>
    <!-- !Navbar Start -->
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Central Shop</a>

        <!-- Toggler/collapsibe Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home-home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Screenshots</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- !Navbar End -->

    <!-- !Hero Section Start -->
    {% block hero %} {% endblock hero %}
    <!-- !Hero Section End -->

    <!-- !Features Section Start -->
    {% block features %} {% endblock features %}
    <!-- !Features Section End -->

    <!-- !Fun Facts Section Start -->
    {% block fun %} {% endblock fun %}
    <!-- !Fun Facts Section End -->

    <!-- !App Screenshots Section Start -->
    {% block screenshots %} {% endblock screenshots %}
    <!-- !App Screenshots Section End -->

    <!-- !App Download Section Start -->
    {% block download %} {% endblock download %}
    <!-- !App Download Section End -->

    <!-- !How It Works Section Start -->
    {% block howItWorks %} {% endblock howItWorks %}
    <!-- !How It Works Section End -->

    <!-- !Testimonials Section Start -->
    {% block testimonials %} {% endblock testimonials %}
    <!-- !Testimonials Section End -->

    <!-- !Pricing Section Start -->
    {% block pricing %} {% endblock pricing %}
    <!-- !Pricing Section End -->

    <!-- !Team Section Start -->
    {% block team %} {% endblock team %}
    <!-- !Team Section End -->

    <!-- !Faq Section Start -->
    {% block faq %} {% endblock faq %}
    <!-- !Faq Section End -->

    <!-- !Contact Section Start -->
    {% block contact %} {% endblock contact %}
    <!-- !Contact Section End -->

    <!-- !JS Links Start -->
    <!-- jquery js -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <!-- jquery js -->
    <script src="{% static 'home/js/main.js' %}"></script>
    <!-- !JS Links End -->
  </body>
</html>
