// !import color variable
@import "./colorsVar";

// !Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

// !Global CSS
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}
body.dark {
  background-color: $bg-dark;
  $black-100: $bg-dark;
  $black-000: $bg-dark;
  $main-to-dark-color: $bg-dark;
  $dark-to-main-color: $main-color;
  $shadow-black-100: $shadow-black-300;
  $black-alpha-100: rgba(255, 255, 255, 0.05);
  $black-900: #ffffff;
  $black-400: #bbbbbb;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.btn-1 {
  background-color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: $main-color;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: $shadow-black-300;
  font-weight: 500;
}
.btn-1:focus {
  box-shadow: $shadow-black-300;
}
.btn-1:hover {
  color: #ffffff;
  background-color: $main-color;
}
.btn-2 {
  background-color: $main-color;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: $shadow-black-100;
  font-weight: 500;
}
.btn-2:focus {
  box-shadow: $shadow-black-100;
}
.btn-2:hover {
  color: $main-color;
  background-color: #ffffff;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}
.effect-wrap .effect-1 {
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: $color-2;
  animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2 {
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}
.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: $color-3;
  animation: bounceTop_01 3s linear infinite;
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: $black-900;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.section-title h2 span {
  color: $main-color;
}
.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #dddddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}
.owl-carousel button.owl-dot.active {
  background-color: $main-color;
}
// for product view
.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}
.product {
  border-radius: 0 0 4px 4px;
}
.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

// for cart page
.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.row-image {
  width: 100px;
}
.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}
.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}
.chg-quantity:hover {
  opacity: 0.6;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}
.hidden {
  display: none !important;
}

// !Navbar
.navbar {
  // TODO: reason for other pages $main-color
  background-color: transparent;
  padding: 20px;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: $main-color;
  padding: 10px 0;
}
.navbar > .container {
  padding: 0 15px;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 40px;
}
.navbar .nav-item .nav-link {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

// !Footer
.footer {
  background-color: $main-color;
  padding: 50px 0 0;
}
.footer-col h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 25px;
  text-transform: capitalize;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer-col ul {
  margin: 0;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 5px;
}
.footer .copyright-text {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  margin: 50px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

// !Toogle Theme Start - light and dark mode
.toggle-theme {
  position: fixed;
  right: 0;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
  background-color: $dark-to-main-color;
  z-index: 1200;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: $shadow-black-300;
  font-size: 16px;
  text-align: center;
}
.toggle-theme i {
  line-height: 40px;
}

// !Responsive
@media (max-width: 991px) {
  .navbar-toggler {
    background-color: $dark-to-main-color;
    box-shadow: $shadow-black-300;
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: #ffffff;
  }
  .navbar-nav {
    background-color: $dark-to-main-color;
    box-shadow: $shadow-black-300;
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: $main-color;
  }
  .home-img .circle {
    height: 320px;
    width: 320px;
  }
  .home-img .circle::before {
    left: 18px;
    top: 18px;
    transform-origin: 142px 142px;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .pricing-plan,
  .how-it-works-item,
  .app-download-item {
    margin-bottom: 30px;
  }
  .how-it-works-item.line-right::before {
    content: none;
  }
  .how-it-works-item {
    box-shadow: $shadow-black-100;
    border-radius: 10px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .home-text {
    margin-bottom: 80px;
  }
  .fun-facts-img {
    margin-bottom: 30px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .fun-facts .section-title h2 {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .home-text h1 {
    font-size: 30px;
  }
  .home-text p {
    font-size: 16px;
  }
  .section-title h2 {
    font-size: 30px;
  }
}
